{% extends "admin/change_form.html" %}
{% load i18n %}
{% block extrahead %}{{ block.super }}
<style>
  #id_subject, #id_body, #id_recipient_list {
    width:35em;
  }
  li.ob-tools button { margin:5px 15px; }
  li.ob-tools i { margin-top:0px; }
</style>
<script>
(function($){
  $(document).ready(function() {
    $(".object-tools").detach().prependTo('#message_form');
    $(".object-tools a.submit").click(function(event) {
      event.preventDefault();
        if (event.target.id == "am_all") {
          if(confirm('Sind Sie sicher das die Meldung an alle Mitglieder der Liste geschickt werden soll?')) {
              $("#send_action").attr("name", "_send_all");
              $("#message_form").submit();
              return false;
          }
        }
        if (event.target.id == "am_test") {
           $("#send_action").attr("name", "_send_test");
           $("#message_form").submit();
           return false;
        }
    });
  });
})(django.jQuery);
</script>
{% endblock %}

{% block object-tools-items %}
{{ block.super }}
<input type="hidden" name="send_action" id="send_action" />
<li class="ob-tools">
    <a href="#" id="am_test" class="submit">test versenden</a>
</li>
<li class="ob-tools">
    <a href="#" id="am_all" class="submit">an alle versenden</a>
</li>
{% endblock %}
